@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #F7F9F4;
  color: #1F2937;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins), sans-serif;
}

button {
  transition: all 0.3s ease;
}